<h2>Todo List</h2>

@if (!todoService.ispUpdateWorkFormActive) {
  <div>
    <label for="work">Work</label>
    <input id="work" type="text" [(ngModel)]="todoService.work" />
    <button (click)="todoService.save()">Save</button>
  </div>
} @else {
  <div>
    <label for="updateWork">Update Work</label>
    <input id="updateWork" type="text" [(ngModel)]="todoService.updateWork" />
    <button (click)="todoService.update()">Update</button>
  </div>
}

<br><hr />
<div>
  <ul>
    @for (data of todoService.todos; track data) {
      <li style="margin-bottom: 8px;">
        <p>{{ data.work }}</p>
        @if(!todoService.ispUpdateWorkFormActive){
          <div>
            <button (click)="todoService.get($index)">Update</button>
            <button (click)="todoService.delete($index)">Delete</button>
          </div>

        }
      </li>
      }
  </ul>
</div>
