<h2>Todo List</h2>

@if (!ispUpdateWorkFormActive) {
  <div>
    <label for="work">Work</label>
    <input id="work" type="text" [(ngModel)]="work" />
    <button (click)="save()">Save</button>
  </div>
} @else {
  <div>
    <label for="updateWork">Update Work</label>
    <input id="updateWork" type="text" [(ngModel)]="updateWork" />
    <button (click)="update()">Update</button>
  </div>
}

<br><hr />
<div>
  <ul>
    @for (data of todos; track data) {
      <li style="margin-bottom: 8px;">
        <p>{{ data.work }}</p>
        @if(!ispUpdateWorkFormActive){
          <div>
            <button (click)="get($index)">Update</button>
            <button (click)="delete($index)">Delete</button>
          </div>

        }
      </li>
      }
  </ul>
</div>
