<h1>Kredi Hesaplama</h1>

<div>
  <label>Kredi Tutarı</label>
  <input type="number" min="0" [(ngModel)]="krediTutari" />

  <label>Taksit Sayısı</label>
  <select [(ngModel)]="taksitSayisi">
    @for (data of taksitler; track data) {
    <option [value]="data">{{ data }}</option>
    }
  </select>
</div>

<div>
  <button (click)="hesapla()">Hesapla</button>
</div>

<hr />

<h1>{{ result }}</h1>

<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Taksit Tutarı</th>
      <th>Kalan Geri Ödeme</th>
    </tr>
  </thead>
  <tbody>
    @for (data of odemePlani; track data) {
    <tr>
      <td>{{ $index + 1 }}</td>
      <td>{{ data.taksitTutari }}</td>
      <td>{{ data.kalanGeriOdeme }}</td>
    </tr>
    }
  </tbody>
</table>
